body{
    background-color:#111111;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin:0;
    user-select: none;
}
.copyright{
    margin-left: 220px;
    display: block;
}
.line{
    height: 1px;
    width: 75%;
    margin-left: 17.5%;
    margin-top: 75px;
    margin-bottom: 50px;
    background-color: white;
    text-align: center;
}
.nav-bar{
    text-align: left;
    display: list-item;
    position: fixed;
    margin-left: 0px;
    top: 0%;
    padding-top: 10px;
    width: 200px;
    height: 100%;
    background-color: #232323;
}
.category{
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    transition: 0.3s;
    text-decoration-line: none;
    color: white;
}
.moderation-box{
    display: none;
}
.rules-box{
    display: none;
}
.management-box{
    display: none;
}
.api-box{
    display: none;
}
.tag-box{
    display: none;
}
.chat-box{
    display: none;
}
.level-box{
    display: none;
}
.info-box{
    display: none;
}
.role-box{
    display: none;
}
.text-box{
    display: none;
}
.back2home{
    display: none;
}
@media only screen and (max-width: 600px){
    body{
        margin-left: -200px;
    }
    .rules{
        margin-left: 2rem;
    }
    .general-box{
        display: block;
    }
    .moderation-box{
        display: block;
    }
    .rules-box{
        display: block;
    }
    .management-box{
        display: block;
    }
    .api-box{
        display: block;
    }
    .tag-box{
        display: block;
    }
    .chat-box{
        display: block;
    }
    .nav-bar {
        display: none;
    }
    .info-box{
        display: block;
    }
    .role-box{
        display: block;
    }.back2home{
        text-decoration: none;
        color: white;
        font-size: 20px;
        display: inline-block;
    }
    .text-box{
        display:block;
    }
}
.category-home{
    background-color:  #232323;
    display: block;
    position: fixed;
    width: 190px;
    bottom: 0;
    padding-top: 30px;
    margin-top: 5px;
    padding-bottom: 30px;
    padding-left: 10px;
    transition: 0.3s;
    text-decoration-line: none;
    color: white;
}
#general-nav{
    background-color:  #7289da;
}
.nav-title{
    font-size: 28px;
    text-decoration-line: underline;
    margin-left: 10px;
    margin-right: 10px;
}
.category:hover{
    background-color:  #2f2f2f;
}
.moderation-title{
    text-align: left;
    margin-left: 230px;
    display: block;
    margin-top: 40px;
    font-size: 24px;
}
.moderation-cmds{
    height: auto;
    margin-left: 220px;
    padding: 10px;
    border-radius: 12px;
    background-color: #232323;
}
.management-title{
    text-align: left;
    margin-left: 230px;
    display: block;
    margin-top: 40px;
    font-size: 24px;
}
.management-cmds{
    height: auto;
    margin-left: 220px;
    padding: 10px;
    border-radius: 12px;
    background-color: #232323;

}
.general-title{
    text-align: left;
    margin-left: 230px;
    display: block;
    margin-top: 40px;
    font-size: 24px;
}
.general-cmds{
    height: auto;
    margin-left: 220px;
    padding: 10px;
    border-radius: 12px;
    background-color: #232323;

}
.cmd-info{
    text-align: left;
    margin-left: 20px;
    display: block;
    margin-bottom: 20px;
}

.cmd-title{
    font-size: 24px;
}
.hlight{
    color: #111;
    font-weight: 520;
    background-color:  #136996;
    margin-right: 10px;
}
.aliases{
    color: #136996;
    font-weight: 520;
    background-color: #111111;
    margin-right: 10px;
}
.rules{
    text-align: left;
    margin-left: 220px;
    margin-top: 30px;
}
.desc{
    margin-left: 20px;
    display: block;
}
.rules-title{
    font-size: 28px;
}
.rules-desc-text{
    display: block;
    margin-top: 5px;
}