body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    margin: 0;
    background-color: #111;
    color: white;
    user-select: none;
}
/* Text-highlight */

.hl-bg {
    background-color: #1d1d1d;
}

.hl-bold {
    font-weight: 900;
}

/* HEADER */
header {
    background-color: #1361aa;
    padding: 10rem 0rem;
    color: white;
    height: 15rem;
}

.img{
    height: 30px;
    width: 30px;
    display: inline-block;    
    position: relative;
    top: 8px;
    right: 5px;
}