/* NAVIGATION BAR */

.btn-nav{
    display: none;
}

nav {
    margin-bottom: 0rem;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #111;
    margin: 0;
    padding: 1.5rem 2.50rem;
    position: sticky;
    display: block;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    display: inline-block;
}
li a.a {
    transition: 0.5s;
    position: relative;
    top: 5px
}

li a.a:hover{
    font-weight: 600;
}

li a strong{
    font-size: 1.5rem;
}

@media only screen and (max-width: 1000px) {
    li a.a {
        transition: 0.5s;
        position: relative;
        top: -5px
    }
}
